<!--Navbar -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" rel="stylesheet" />
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand font-weight-bold" href="/patients/appointment/1"><span class="fa fa-hospital-o" ></span> E-Randevu</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent-4"
      aria-controls="navbarSupportedContent-4"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
 

    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/patients/appointment/1">
            Randevu Oluştur
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients/appointment-past/1">Randevu Geçmişi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients/appointment-request/1">Randevu Tapleplerim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/patients/test-result/1">Sonuçlarım</a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink-4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="fas fa-user"></i> Profil
          </a>
          <div
            class="dropdown-menu dropdown-menu-right dropdown-info"
            aria-labelledby="navbarDropdownMenuLink-4"
          >
            <a class="dropdown-item" href="/patients/patient">Hesap Bilgilerim</a>
            <a class="dropdown-item" href="/users/logout">Çıkış</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--/.Navbar -->

<div class="container">
  <div class="card card-body border-light shadow mt-4">
    <div class="row">
      <div class="col">
        <h1 class="text-center mb-3">
          <i class="fas fa-laptop-medical"></i> E-Randevu
        </h1>

        <form action="/patients/appointment/<%= pages %>" method="POST" class="form-group">
          <!--Doctor-->
          <label class="my-1 mr-2" for="doctor"
            >Doktor Seçiniz</label
          >
          <select
            name="district"
            class="custom-select my-1 mr-sm-2 form-control"
            id="doctor"
          >
          <% docs.forEach((item)=> { %>
              <option value= <%=item.doctorName%> > <%=item.doctorName%>(<%=item.polyclinicName%>)</option>
          <% }) %>  
          <!--TARİH-->
          <div class="form-group">
            <!--date time-->
            <label class="my-1 mr-2" for="date">Test Yapılma Tarihi</label>
            <input name="date" type="text" id="datePicker" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-block my-1">
            Randevu Ara
          </button>
          <%- include ('../partials/messages') %>
        </form>


      </div>
      <div class="col">
        <h1 class="text-center mb-3">
          <i class="fas fa-microscope"></i> E-Tahlil
        </h1>

        <div class="card mt-5">
          <div class="card-header">
            Yapılacak Tahlilleriniz
          </div>
          <div class="card-body">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Klinik</th>
                  <th scope="col">Tahlil adı</th>
                  <th scope="col">Tarihi</th>
                  <th scope="col">Tahlil Sonucu</th>
                </tr>
              </thead>
              <tbody>
                
                <% test.forEach((item)=> { %>
                  <% if( (item.date.getMonth() > d.getMonth() && item.date.getFullYear() >= d.getFullYear()) || (item.date.getMonth()==d.getMonth() && item.date.getDate()>=d.getDate()&& item.date.getFullYear() >= d.getFullYear()) || (item.date.getMonth()==d.getMonth() && item.date.getDate()==d.getDate()&& item.date.getFullYear() >= d.getFullYear() && item.date.getHours() >= d.getHours() ) ){ %>
                  <tr>
                    <td scope="row"> <%=item.polyclinicName%>  </td>
                    <td><%=item.testName%></td>
                    <td><%=item.date.getFullYear()%> - <%=(item.date.getMonth()+1)%> - <%=item.date.getDate()%> Saat: <%=(item.date.getHours()-3)%>:<%=item.date.getMinutes()%> </td>
                    <% if(!item.testResult) {%>
                      <td>Tahlil Sonucu Girilmemiştir</td>
                    <% } %>
                    <% if(item.testResult) {%>
                        <td><%=item.testResult%></td>
                    <% } %>
                  </tr>
                  <% } %>
                <% }) %>  
                
                

              </tbody>
            </table>
          </div>
          <div class="card-footer text-muted">
            <div class="row">
              <div class="col pt-2">
                <p>Toplam Sayfa: <span class="badge-primary p-1 pl-2 pr-2"><%= pages %></span></p>
              </div>
              <div class="col">
                <% if (pages > 0) { %>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                      <% if (current == 1) { %>
                        <li class="page-item disabled"><a class="page-link" >İlk</a></li>
                      <% } else { %>
                        <li class="page-item "><a class="page-link" href="/patients/appointment/1"  tabindex="-1">İlk</a></li>
                      <% } %>
                      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                      <% if (i !== 1) { %>
                        <li class="page-item disabled"><a class="page-link" >...</a></li>
                      <% } %>
                      <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                          <% if (i == current) { %>
                              <li class="page-item active"><a class="page-link" ><%= i %></a></li>
                          <% } else { %>
                              <li class="page-item "><a class="page-link" href="/patients/appointment/<%= i %>"><%= i %></a></li>
                          <% } %>
                          <% if (i == Number(current) + 4 && i < pages) { %>
                              <li class="page-item disabled"><a class="page-link" >...</a></li>
                          <% } %>
                      <% } %>
                      <% if (current == pages) { %>
                          <li class="page-item disabled"><a class="page-link" >Son</a></li>
                      <% } else { %>
                          <li class="page-item "><a class="page-link" href="/patients/appointment/<%= pages %>">Son</a></li>
                      <% } %>
                  </ul>
              <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>

    $('#datePicker').datetimepicker({
        timepicker: true,
        datepicker: true,
        format: 'Y-m-d H:i',
        value: '10-03-2020 09:00',
        step: 15,
        allowTimes: ['09:00','09:15','09:30','09:45','10:00','10:15','10:30','10:45','11:00','11:15','11:30','11:45','13:00','13:15','13:30','13:45','14:00','14:15','14:30','14:45','15:00','15:15','15:30','15:45','16:00','16:15','16:30','16:45']
    })
</script>